.footer-section {
  width: 100%;

  // .footer-section__container
  &__container {
    margin-bottom: 185px;
    @include desktop{
      margin-bottom: 130px;
    }

    @include tablets {
      margin-bottom: 80px;
    }

    @include bigPhones{
      margin-bottom: 60px;
    }

    @include phones{
      margin-bottom: 60px;
    }
  }

  // .footer-section__registration-banner
  &__registration-banner {
    background: linear-gradient(90deg, #2D1686 0%, #4E33B5 100%);
    border-radius: 10px;
  }
}